%table.table.table-striped.formulas
  %thead
    %th Name
    %th Admin
    %th
  %tbody
    - @users.each do |user|
      %tr.user{ data: {'item-id' => user.to_param, 'update-url' => user_path(user) , 'object-type' =>  'user' } }
        %td= link_to "#{ user.name.presence || 'No Name' }", edit_user_path(user), data: { "no-turbolink": true }
        %td
          - if user.admin?
            %i.fa.fa-check
        %td{ class: "#{current_user == user && 'pointer'}"}
          = link_to 'Delete', user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger #{ current_user == user && 'disabled' || ""}" 

= link_to "Create User", new_user_path, class: 'btn green', data: { "no-turbolink": true }
