
/ BEGIN CORE PLUGINS
= javascript_include_tag public_static_path("metronic/global/plugins/jquery.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/bootstrap/js/bootstrap.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/js.cookie.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")
/= javascript_include_tag public_static_path("metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.js")
= javascript_include_tag public_static_path("metronic/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/jquery.blockui.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/uniform/jquery.uniform.min.js")
/ END CORE PLUGINS
/ BEGIN PAGE LEVEL PLUGINS
= javascript_include_tag public_static_path("metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")
= javascript_include_tag public_static_path("metronic/global/plugins/jquery.sparkline.min.js")
= javascript_include_tag public_static_path("//maps.google.com/maps/api/js")
= javascript_include_tag public_static_path("metronic/global/plugins/gmaps/gmaps.min.js")
= javascript_include_tag public_static_path("metronic/global/plugins/icheck/icheck.min.js")
/ END PAGE LEVEL PLUGINS
/ BEGIN THEME GLOBAL SCRIPTS
= javascript_include_tag public_static_path("metronic/global/scripts/app.min.js")
/ END THEME GLOBAL SCRIPTS
/ BEGIN PAGE LEVEL SCRIPTS
= javascript_include_tag public_static_path("metronic/pages/scripts/profile.min.js")
/ END PAGE LEVEL SCRIPTS
/ BEGIN THEME LAYOUT SCRIPTS
= javascript_include_tag public_static_path("metronic/layouts/layout2/scripts/layout.min.js")
/ = javascript_include_tag public_static_path("metronic/layouts/layout2/scripts/demo.min.js")
= javascript_include_tag public_static_path("metronic/layouts/global/scripts/quick-sidebar.min.js")
/ END THEME LAYOUT SCRIPTS
= content_for :page_scripts