/ BEGIN GLOBAL MANDATORY STYLES
= stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
= stylesheet_link_tag public_static_path("metronic/global/plugins/font-awesome/css/font-awesome.min.css")
= stylesheet_link_tag public_static_path("metronic/global/plugins/simple-line-icons/simple-line-icons.min.css")
= stylesheet_link_tag public_static_path("metronic/global/plugins/bootstrap/css/bootstrap.min.css")
= stylesheet_link_tag public_static_path("metronic/global/plugins/uniform/css/uniform.default.css")
= stylesheet_link_tag public_static_path("metronic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")
/ END GLOBAL MANDATORY STYLES
/ BEGIN PAGE LEVEL PLUGINS
= stylesheet_link_tag public_static_path("metronic/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")
= stylesheet_link_tag public_static_path("metronic/global/plugins/icheck/skins/all.css")
/ END PAGE LEVEL PLUGINS
/ BEGIN THEME GLOBAL STYLES
= stylesheet_link_tag public_static_path("metronic/global/css/components.min.css")
= stylesheet_link_tag public_static_path("metronic/global/css/plugins.min.css")
/ END THEME GLOBAL STYLES
/ BEGIN PAGE LEVEL STYLES
= stylesheet_link_tag public_static_path("metronic/pages/css/profile.min.css")
/ END PAGE LEVEL STYLES
/ BEGIN THEME LAYOUT STYLES
= stylesheet_link_tag public_static_path("metronic/layouts/layout2/css/layout.min.css")
= stylesheet_link_tag public_static_path("metronic/layouts/layout2/css/themes/blue.min.css")
= stylesheet_link_tag public_static_path("metronic/layouts/layout2/css/custom.min.css")