= bootstrap_form_for(@user) do |f|
  = f.hidden_field :reset_password_token
  = f.password_field :password, class: 'form-control', placeholder: "New Password"
  = f.password_field :password_confirmation, class: 'form-control', placeholder: "Re-type New Password"
  = f.submit 'Save Changes', class: 'btn green'
  = submit_button(@user)
  

