= bootstrap_form_for(@user) do |f|
  = f.text_field :name, class: 'form-control', placeholder: "Name"
  = f.text_field :email, class: 'form-control', placeholder: "employee@ezeratech.com"
  = f.text_field :contact_number, class: 'contact_number form-control', placeholder: "010-1234567"
  = f.text_field :date_of_birth, class: 'form-control', placeholder: "31 August 1957"
  = f.text_area :about, class: 'form-control', placeholder: "We are EzeraTech Nerd!!!"
  = f.text_field :interests, class: 'form-control', placeholder: "Hiking, Eating, Sleeping, etc."
  = f.text_field :position, class: 'form-control', placeholder: "Junior Developer"
  = f.submit 'Save Personal Info', class: 'personal-info btn green'
  = submit_button(@user)
  