                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <%- if current_user.avatar.present?%>
                                        <%= image_tag current_user.avatar_url, class: 'img-circle' %>
                                    <%- else%>
                                        <%= image_tag 'metronic/layouts/layout2/img/avatar3_small.jpg', class: 'img-circle' %>
                                    <% end -%>
                                    <span class="username username-hide-on-mobile"> <%= current_user.name if user_signed_in?  %> </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <%= link_to user_path(current_user) do %>
                                            <i class="icon-user"></i> My Profile
                                        <% end -%>
                                    </li>
                                    <li>
                                        <%= link_to edit_user_path(current_user.to_param) do %>
                                            <i class="icon-settings"></i> My Setting
                                        <% end -%>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <%= link_to destroy_user_session_path, method: :delete do %>
                                            <i class="icon-key"></i> Log Out
                                        <% end -%>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-extended quick-sidebar-toggler">
                                <span class="sr-only">Toggle Quick Sidebar</span>
                                <i class="icon-logout"></i>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->